* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*::before, *::after {
  box-sizing: border-box;
}

:root {

}

html {
  height: 100%;
  font-family: "Lato", sans-serif;

}

body {
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.925);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


a {
  color: white;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 
  1fr
  1fr
  50px 
  50px;
  gap: 15px;
  justify-items: center;
}

.gameboard-div {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* border: 1px solid white; */
  grid-row: 1/4;

}

.box {
  width: 92px;
  height: 92px;
  /* padding-bottom: 30%; */
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  transition: box-shadow background-color 0.2s linear;
  font-family: 'Frijole', cursive;
  font-size: 6rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 3px rgb(197, 197, 197);
  background: linear-gradient(
    45deg,
    rgb(0, 0, 0) 0%,
    rgb(4, 134, 21) 50%,
    rgb(49, 49, 49) 100%
  );
  /* border: 1px solid rgb(62, 255, 44); */
  border-radius: 3px;
  box-shadow: 3px 3px 4px rgb(82, 82, 82);
  transition: .2s text-shadow;
  cursor: pointer;
}

.box:hover {
  color: rgb(17, 17, 17);
  border: 2px solid rgb(60, 184, 3);
  transition: .1s border linear;
  
}

.box:active {
  box-shadow: 3px 3px 10px rgb(255, 94, 94);
  border-bottom: 1px solid rgb(251, 248, 53);
  /* text-shadow: none; */
  box-shadow: 3px 3px 5px rgb(255, 255, 255);
}

.reset-btn {
  grid-column: 1/2;
  grid-row: 5/6;
  /* width: 80px; */
  /* height: 60px; */
  transition: box-shadow background-color 0.2s linear;
  font-size: 2rem;
  padding: 0.5rem;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(12, 4, 126) 50%,
    rgb(5, 21, 171) 100%
  );
  color: rgb(134, 205, 247);
  border: 1px solid rgb(90, 233, 252);
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgb(85, 85, 85);
  transition: .2s text-shadow;
  cursor: pointer;
}

.reset-btn:hover {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 3px rgb(74, 192, 247);
}

.reset-btn:active {
  box-shadow: 3px 3px 10px rgb(233, 254, 70);
  border-bottom: 1px solid rgb(251, 248, 53);
  text-shadow: none;
  color: rgb(183, 183, 185);
}



.display {
  /* border: 1px solid white; */
  height: 35px;
  width: 300px;
  font-size: 1.3rem;
  grid-column: 1/2;
  grid-row: 4/5;
  text-align: center;

}

.player1-container {
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 200px
}

.player2-container {
  grid-column: 2/3;
  max-width: 200px
  
}