* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*::before, *::after {
  box-sizing: border-box;
}

:root {

}

html {
  height: 100%;
  font-family: "Lato", sans-serif;

}

body {
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.925);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


a {
  color: white;
  text-decoration: none;
}
